# IDEs
.idea/
.vs/

# Cmake builds
build/
build*/
cmake*/

# Documentation builds
docs/html
docs/latex

# Build Artifacts
*.exe
*.dll
*.so
*.a
*.o
*.lib
*.exp

# MSVCRT Stuff
*.7z
path.txt
msvcrt/make-libs.cmd

# PureBasic stuff
*.pb.cfg

# Misc.
*.pdn
*.bkp
extra/words_dictionary.json
trash/
_*.txt

# Unfinished stuff
CONTRIBUTING.md
trash/conventions.md
trash/build-quick-strip.cmd
src/array/

# TCC
.bin/
