# IDEs
.idea/
.vs/

# Cmake builds
build/
build*/
cmake*/

# Documentation builds
docs/html
docs/latex

# PureBasic stuff
*.pb.cfg
*.exe
*.so

# Misc.
*.pdn
*.bkp
extra/words_dictionary.json
trash/

# Unfinished stuff
CONTRIBUTING.md
trash/conventions.md
trash/build-quick-strip.cmd

# TCC
.bin/
