# IDEs
.idea/
.vs/

# Cmake builds
build/
cmake*/

# Documentation builds
docs/html
docs/latex

# PureBasic stuff
*.pb.cfg
*.exe

# Misc.
*.pdn
extra/words_dictionary.json

# Unfinished stuff
CONTRIBUTING.md
